body{
    background-color: rgba(182, 207, 69, 0.697);
}
.cont-1{
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    padding: 0%;
    background-color: rgb(87, 224, 75);
}
img{
    width: 200px;
    height: 200px;
}
.all{
    display: inline-block;
    border: 2px solid black;
    align-content: center;
    padding:2% 5%;
    margin-left:2%;
    background-color: brown;
}
h5{
    margin-block-start: 1em;
    margin-block-end: 1em;
}
button{
    margin-block-end: 1.67em;
}